/**
 * RUBYBOX STYLE MAIN
 * @package         RubyBox
 * @author          HaiBach
 * @link            http://
 * @version         1.0
 */


 .rb01wrap {
    position: fixed;
    display: none;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 100001;
    background-color: transparent;
    /* -webkit-backdrop-filter: saturate(150%) blur(20px);
    backdrop-filter: saturate(250%) blur(20px); */

    -webkit-transition: background-color .2s;
            transition: background-color .2s;
}
.rb01outer {
    position: absolute;
    left: 0; top: 0;
    min-width: 80px; min-height: 80px;
    z-index: 100002;
}
.rb01inner {
    overflow: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* OPACITY & BACKGROUND */
.rb01wrap.rb01fade-in {
    -webkit-backdrop-filter: saturate(150%) blur(5px);
    backdrop-filter: saturate(150%) blur(5px);
    background-color: rgba(229,231,235, 0.65);
}
.rb01wrap.rb01fade-out {
    background-color: transparent;
}
.rb01wrap.rb01no-opacity {
    background-color: #000;
}


/* ACTIVED */
.rb01wrap.rb01actived, .rb01actived .rb01content {
    display: block !important;
}


/* BUTTON CLOSE */
.rb01btn-close {
    overflow: hidden;
    position: absolute;
    right: -19px;
    top: -19px;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0.25);
    background-color: #fff;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 100003;
}
.rb01btn-close::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjIuMywgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIuNDlweCIKCSBoZWlnaHQ9IjEyLjQ5cHgiIHZpZXdCb3g9IjAgMCAxMi40OSAxMi40OSIgc3R5bGU9Im92ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMi40OSAxMi40OTsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxkZWZzPgo8L2RlZnM+CjxwYXRoIGQ9Ik05LjA3LDAuNTlMNi4yNCwzLjQxTDMuNDEsMC41OWMtMC43OC0wLjc4LTIuMDUtMC43OC0yLjgzLDBzLTAuNzgsMi4wNSwwLDIuODNsMi44MywyLjgzTDAuNTksOS4wNwoJYy0wLjc4LDAuNzgtMC43OCwyLjA1LDAsMi44M2MwLjc4LDAuNzgsMi4wNSwwLjc4LDIuODMsMGwyLjgzLTIuODNsMi44MywyLjgzYzAuNzgsMC43OCwyLjA1LDAuNzgsMi44MywwCgljMC43OC0wLjc4LDAuNzgtMi4wNSwwLTIuODNMOS4wNyw2LjI0bDIuODMtMi44M2MwLjc4LTAuNzgsMC43OC0yLjA1LDAtMi44M0MxMS4xMi0wLjIsOS44NS0wLjIsOS4wNywwLjU5eiIvPgo8L3N2Zz4K') no-repeat center center;
    opacity: 0.5;
}
.rb01btn-close:hover::after {
    border-color: #CC0200;
    background-image: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjIuMywgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIuNDlweCIKCSBoZWlnaHQ9IjEyLjQ5cHgiIHZpZXdCb3g9IjAgMCAxMi40OSAxMi40OSIgc3R5bGU9Im92ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMi40OSAxMi40OTsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik05LjA3LDAuNTlMNi4yNCwzLjQxTDMuNDEsMC41OWMtMC43OC0wLjc4LTIuMDUtMC43OC0yLjgzLDBzLTAuNzgsMi4wNSwwLDIuODNsMi44MywyLjgzTDAuNTksOS4wNwoJYy0wLjc4LDAuNzgtMC43OCwyLjA1LDAsMi44M2MwLjc4LDAuNzgsMi4wNSwwLjc4LDIuODMsMGwyLjgzLTIuODNsMi44MywyLjgzYzAuNzgsMC43OCwyLjA1LDAuNzgsMi44MywwCgljMC43OC0wLjc4LDAuNzgtMi4wNSwwLTIuODNMOS4wNyw2LjI0bDIuODMtMi44M2MwLjc4LTAuNzgsMC43OC0yLjA1LDAtMi44M0MxMS4xMi0wLjIsOS44NS0wLjIsOS4wNywwLjU5eiIvPgo8L3N2Zz4K');
    background-color: #CC0200;
    opacity: 1;
}


/* FULLSCREEN */
.rb01fullscreen {}


/* LOCK SCREEN */
.rb01lock {
    overflow: hidden !important;
}
.rb01lock-scroll {
    margin-right: 17px !important;
}


/* OTHERS */
.rb01scroll-y {
    overflow-y : scroll;
}